doctype html
html
  head
    title OTP Recieved
    style.
      .container{
      margin:0;
      padding:0;
      }
      .content{
      padding:10px;;
      font-size:18px;
      font-family:Arial, Helvetica, sans-serif;
      }
      .txt-otp{
      background:#14a89f;padding:25px;width:180px;
      border-radius:5px;
      text-align:center;
      margin-left: 100px;
      }
      .txt-otp>span{
      font-size:25px;
      font-stretch:expanded;
      letter-spacing: 10px;
      color:white;
      }
  body
    .container
      div
        span(style='font-size: 35px;\
        font-weight: bold;\
        color: #14a89f;\
        letter-spacing:3px;\
        text-shadow: 1px 2px 3px #8f5b5b;')
          | sp
          span o
          | t
          span(style='color: #29235c;letter-spacing:3px') light
      | &#x9;
      .content
        p(style='font-weight:bold') Name : #{data.full_name}
        | &#x9;&#x9;
        p(style='font-weight:bold') Email : #{data.email}
        | &#x9;&#x9;
        p(style='font-weight:bold') Organization : #{data.organization}
        | &#x9;&#x9;
        p(style='font-weight:bold') Phone : #{data.phone}
        | &#x9;&#x9;
        p
        | &#x9;&#x9;
        | &#x9;&#x9;
        p
          | If you didn&apos;t used SpotLight 
          sup TM
          |  system please ignore this mail
