doctype html
html
  head
    title OTP Recieved
    style.
      .container{
      margin:0;
      padding:0;
      }
      .content{
      padding:10px;;
      font-size:18px;
      font-family:Arial, Helvetica, sans-serif;
      }
      .txt-otp{
      background:#14a89f;padding:25px;width:180px;
      border-radius:5px;
      text-align:center;
      margin-left: 100px;
      }
      .txt-otp>span{
      font-size:25px;
      font-stretch:expanded;
      letter-spacing: 10px;
      color:white;
      }
  body
    .container
     div(style='margin-left: 10px')
        img(src='http://www.thespotlightsystem.com/assets/4cdf3b0b1991c7173eb2d6efc17276bd.png', alt='logo')
     | &#x9;
     .content
        p(style='font-weight:bold') Hello! #{data.full_name}
        | &#x9;&#x9;
        p
          | Thank you for contacting Spotlight 
          sup TM
          |  regarding our professional services
        | &#x9;&#x9;
        p One of our consultant will contact you in the coming days.
        | &#x9;&#x9;
        p This is your request ID 
        | &#x9;&#x9;
        p
        h3.txt-otp
          span #{data.request_id}
        | &#x9;&#x9;
        p
        | &#x9;&#x9;
        | &#x9;&#x9;
        p
          | If you didn&apos;t used SpotLight 
          sup TM
          |  system please ignore this mail
