doctype html
html
  head
    title OTP Recieved
    style.
     html{direction:rtl}
      .container{
      margin:0;
      padding:0;
      }
      .content{
      padding:10px;;
      font-size:18px;
      font-family:Arial, Helvetica, sans-serif;
      }
      .txt-otp{
      background:#14a89f;padding:25px;width:180px;
      border-radius:5px;
      text-align:center;
      margin-left: 100px;
      }
      .txt-otp>span{
      font-size:25px;
      font-stretch:expanded;
      letter-spacing: 10px;
      color:white;
      }
  body
    .container
      .content
        p(style='font-weight:bold') #{data.greet}
        | &#x9;&#x9;
        p מערכת Spotlight™ קיבלה בקשה לשחזור סיסמא עבור חשבון זה.
        | &#x9;&#x9;
        p נא העתק את הקוד החד פעמי המצורף למטה למקום המיועד באתר
        | &#x9;&#x9;
        p
        h3.txt-otp
          span #{data.OTP}
        | &#x9;&#x9;
        p
        | &#x9;&#x9;
        p תודה שיצרת קשר עימנו.
        | &#x9;&#x9;
        p צוות Spotlight
        | &#x9;&#x9;
        p 
           img(src='https://thespotlightsystem.com/assets/4cdf3b0b1991c7173eb2d6efc17276bd.png', alt='logo')
        | &#x9;&#x9;
        | &#x9;&#x9;
        p במידה ולא השתמשת במערכת SPOTLIGHT , נא התעלם/י ממייל זה
        | &#x9;&#x9;
