//!!! transitional
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
doctype html
html
  body
    div(style='width: 70%;')
      // Message header.
      div(style='height: 50px;background:gray;border-bottom-style: solid;border-bottom-color: lightgray;border-bottom-width:1px;position:relative; top:-20px;')
        p(style="padding-top:10px; font-size:20px;text-align: center;color:orange ;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;") Spotlight
      // -Header end-
      // end-
      // Information Body
      div(style='margin: 20px;text-align:justify ')
        // ---Messsage-
        div(style='margin-top:-10px;margin-bottom: 10px;color:green;font-size:18px;font-family: Arial, Helvetica, sans-serif')
          strong Congratulation!
          |  You are successfully Registered..
        // ---Messsage end-
        p
          span(style='font-weight:bold')=greet
         
         p
          | you have completed your email verification process.Please 
          a(href='') click here
          |  and click on login to get started.
        p
          span(style='font-size: 17px;')
            strong
            br
            |     Thanks Team!!
      // -Information body end
      // ---footer-
      div(style='background:gray;height:30px;')
        p(style="margin-left: 10px;text-align: center ;color: whitesmoke;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ")
          | &copy; spotlight.com
      // ---footer end-
